<!DOCTYPE html>
<html>
<head>
    <title>Tweet Sentiment Analyzer</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Tweet Sentiment Analyzer</h1>

    <form method="POST">

        <textarea
            name="tweet"
            placeholder="Enter a tweet..."
            required>
        </textarea>

        <button type="submit">
            Analyze
        </button>

    </form>

    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}

</div>

</body>
</html>